html {
  height: 100%;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif !important;
  font-size: 14px;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url(../img/bg-dots.png);
}
div,
span,
p,
label,
h1,
h2,
h3,
h4,
input,
select,
textarea,
button {
  margin: 0;
  font-family: "Poppins", sans-serif !important;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:after,
:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:focus {
  outline: 0 !important;
}

a {
  color: inherit;
  cursor: pointer;
  color: #000000;
}

a:focus,
a:hover {
  color: inherit;
  text-decoration: underline;
}

.app-view {
  height: 100%;
}

.app-content {
  height: 100%;
}

.app-content .scrollbar-track {
  display: none !important;
}

.app-content .scroll-content {
  height: 100%;
  will-change: transform;
}

.app-navbar-strip {
  position: fixed;
  top: 45px;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 99;
  pointer-events: none;
  -webkit-transition: color 0.8s;
  -o-transition: color 0.8s;
  -moz-transition: color 0.8s;
  transition: color 0.8s;
}

.app-navbar-container {
  padding: 0 100px;
}
@media (max-width: 991px) {
  .app-navbar-container {
    padding: 0 30px;
  }
}
.app-navbar-grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.app-navbar-grid-col {
  pointer-events: auto;
}

.app-navbar-logo {
  line-height: 0;
}
@media (max-width: 1200px) {
  .app-navbar-strip {
    background: #ffffff;
    padding: 10px 0 10px 0;
    border-bottom: 1px solid #eeeeee;
    top: 0;
  }
}
@media (max-width: 767px) {
  .app-navbar-logo img {
    height: 25px;
    margin-top: 4px;
  }
}
.app-navbar-social {
  display: inline-block;
  vertical-align: middle;
}

.app-loader {
  display: inline;
}

.app-loader_overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 0%;
  z-index: 9999;
  pointer-events: none;
  background: #fff;
  opacity: 0;
  -webkit-transition: opacity 0.7s, max-width 0s 0.7s;
  -o-transition: opacity 0.7s, max-width 0s 0.7s;
  -moz-transition: opacity 0.7s, max-width 0s 0.7s;
  transition: opacity 0.7s, max-width 0s 0.7s;
}

.app-loader_overlay.-visible {
  pointer-events: auto;
  max-width: 100%;
  opacity: 1;
  -webkit-transition-delay: 0s, 0s;
  -moz-transition-delay: 0s, 0s;
  -o-transition-delay: 0s, 0s;
  transition-delay: 0s, 0s;
  display: flex;
  align-items: center;
}

.app-loader-ripple {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  margin: 0 auto;
}
.app-loader-ripple div {
  position: absolute;
  border: 4px solid #e25e24;
  opacity: 1;
  border-radius: 50%;
  animation: app-loader-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.app-loader-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes app-loader-ripple {
  0% {
    top: 28px;
    left: 28px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: -1px;
    left: -1px;
    width: 58px;
    height: 58px;
    opacity: 0;
  }
}

.app-social {
  margin: 0 -5px;
  white-space: nowrap;
}

.app-social-item {
  position: relative;
  display: inline-block;
  background: #ffffff;
  border: 1px solid #ededed;
  width: 40px;
  height: 40px;
  margin: 0 5px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  font-size: 19px;
  line-height: 40px;
  vertical-align: middle;
  text-align: center;
  -webkit-transition: background 0.3s, color 0.2s;
  -o-transition: background 0.3s, color 0.2s;
  -moz-transition: background 0.3s, color 0.2s;
  transition: background 0.3s, color 0.2s;
}

@media (max-width: 1200px) {
  .app-social-item {
    width: 32px;
    height: 32px;
    line-height: 32px;
  }
}

.app-social-item:focus,
.app-social-item:hover {
  background: #dadfe5;
  text-decoration: none;
}

.app-social.-md .app-social-item {
  margin: 0 10px;
  width: 45px;
  height: 45px;
  line-height: 45px;
}

.app-menu {
  position: fixed;
  right: 0;
  bottom: 20px;
  z-index: 90;
  pointer-events: none;
  color: #888;
  left: 0;
}

.app-menu-nav {
  text-align: center;
}

.app-menu-nav-items {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  pointer-events: auto;
}

.app-menu-nav-item {
  position: relative;
  cursor: pointer;
  text-align: left;
}

.app-menu-nav-item-title {
  margin: 0 0 13px 0;
  font-size: 12px;
  font-weight: 600;
  -webkit-transition: color 0.4s;
  -o-transition: color 0.4s;
  -moz-transition: color 0.4s;
  transition: color 0.4s;
}

.app-menu-nav-item-title:after {
  content: "";
  position: absolute;
  display: block;
  width: 5px;
  height: 5px;
  bottom: -2px;
  background: #d6d6d6;
  -webkit-transition: background 0.4s;
  -o-transition: background 0.4s;
  -moz-transition: background 0.4s;
  transition: background 0.4s;
}

.app-menu-nav-item-line {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  width: 87px;
  height: 1px;
  margin: 0 1px 0 3px;
  background: rgba(0, 0, 0, 0.1);
  background: rgba(119, 119, 119, 0.3);
}

@media (min-width: 768px) {
  .app-menu-nav-item-line {
    width: 107px;
  }
}

@media (max-width: 1200px) {
  .app-menu-nav-item-line {
    width: 127px;
  }
  .app-menu {
    bottom: 0px;
    background: #ffffff;
    box-shadow: 0px 0px 10px #eeeeee;
    padding: 10px 0;
    box-shadow: 0px -4px 10px #e2e2e2;
  }
}

.app-menu-nav-item-line span {
  display: block;
  height: 1px;
  width: 100%;
  background: #e25e24;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -ms-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
  will-change: transform;
}

.app-menu-nav-item:last-child .app-menu-nav-item-line {
  display: none;
}

.app-menu-nav-item:hover .app-menu-nav-item-title {
  color: #e25e24;
}

.app-menu-nav-item.-active .app-menu-nav-item-title {
  color: #e25e24;
}

.app-menu-nav-item.-active .app-menu-nav-item-title:after {
  background: #e25e24;
}
.app-menu-nav-item.-current .app-menu-nav-item-title:before {
  content: "";
  position: absolute;
  display: block;
  width: 10px;
  height: 10px;
  bottom: -4px;
  left: -3px;
  background: #e25e24;
  -webkit-transition: background 0.4s;
  -o-transition: background 0.4s;
  -moz-transition: background 0.4s;
  transition: background 0.4s;
  opacity: 0.5;
}

.app-screen {
  height: 100%;
}

.app-screen-roll {
  height: 100%;
}

@media (min-width: 1200px) {
  .app-screen-roll {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 1200px) {
  .app-screen-item {
    height: 100%;
  }
}

.app-screen-item.-full {
  height: 100%;
}
.app-section {
  position: relative;
}

@media (min-width: 1200px) {
  .app-section {
    height: 100%;
  }
}

.app-section-anchor {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 32vw;
  z-index: -1;
  pointer-events: none;
}

.app-section-fill {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@media (min-width: 1200px) {
  .app-section-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    overflow: hidden;
  }
}

.app-section-content {
  position: relative;
  z-index: 2;
  padding: 40px 0;
  height: 100%;
}

@media (max-width: 1200px) {
  .app-section-content {
    padding: 20px 0 0px 0 !important;
    height: 100%;
  }
  .app-section-content-service-1 {
    margin-top: -70px;
  }
  .app-section-content-service-2 {
    margin-top: -70px;
  }
}
@media (max-width: 767px) {
  .app-section-content-service-1 {
    margin-top: 0px;
  }
  .app-section-content-service-2 {
    margin-top: -50px;
  }
}
@media (max-width: 991px) {
  .app-section-content-service-2 {
    margin-top: -45px;
  }
}
@media (min-width: 1200px) {
  .app-section-grid {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    height: 390px;
  }
}

@media (min-width: 1600px) {
  .app-section-grid {
    height: 460px;
  }
}
@media (min-width: 1601px) {
  .app-section-grid {
    height: auto !important;
  }
}

.app-section-grid-col {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  position: relative;
  min-width: 100vw;
  display: flex;
  align-items: center;
}
@media (max-width: 1200px) {
  .app-section-grid-col-features,
  .app-section-grid-col-weare,
  .app-section-grid-col-services,
  .app-section-grid-col-contact {
    flex-direction: column;
  }
  .app-section-grid-col-features {
    background: #fbfbfb;
    border-top: 1px solid #f5f5f5;
    border-bottom: 1px solid #f5f5f5;
    padding: 20px 0 30px;
    min-height: 450px;
  }
  .app-section-grid-col-services {
    background: #fbfbfb;
    border-top: 1px solid #f5f5f5;
    border-bottom: 1px solid #f5f5f5;
    padding-bottom: 30px;
  }
  .app-section-grid-col-contact {
    padding-bottom: 50px;
  }
}
@media (max-width: 991px) {
  .app-section--feature {
    position: static;
  }
  .app-section-grid-col-services {
    margin-top: 0px;
  }
  .app-section-grid-col-contact {
    padding-bottom: 120px;
  }
  .app-section-grid-col-weare {
    padding-bottom: 30px !important;
  }
}
.app-section-grid-col-blank {
  min-width: 10px;
  max-width: 10px;
}

.app-section-grid-image-home,
.app-section-grid-image-feature,
.app-section-grid-image-contact,
.app-section-grid-image-weare,
.app-section-grid-image-services {
  width: 100%;
}

.app-section--home {
  position: absolute;
  right: 100px;
  padding-top: 50px;
}

.app-section--home-heading {
  color: #1c1c1c;
  font-size: 72px;
  font-weight: 700;
  line-height: 80px;
  width: 650px;
  text-align: right;
}

.app-section--home-logos {
  padding-top: 65px;
  padding-bottom: 55px;
  text-align: right;
}
.app-section--home-logos-image-lg {
}
.app-section--home-logos-image-md {
  display: none;
}
.app-section--home-button {
  text-align: right;
}
@media (max-width: 1200px) {
  .app-section-grid-image-home {
    max-width: 100%;
  }
  .app-section-grid-image-feature,
  .app-section-grid-image-contact,
  .app-section-grid-image-weare,
  .app-section-grid-image-services {
    max-width: 100%;
  }
  .app-section--home-heading {
    font-size: 54px;
    line-height: 54px;
    width: 500px;
  }
}
@media (max-width: 991px) {
  .app-section-grid-image-feature,
  .app-section-grid-image-weare,
  .app-section-grid-image-services {
    visibility: hidden;
  }
  .app-section-grid-image-services {
    display: none;
  }
  .app-section--home {
    right: 30px;
  }
  .app-section--home-logos {
    padding-bottom: 20px;
  }
}
@media (max-width: 767px) {
  .app-section--home-logos-image-lg {
    display: none;
  }
  .app-section--home-logos-image-md {
    display: inline-block;
  }
}
.app-section--feature {
  position: absolute;
  left: 100px;
}

.app-section--feature-heading {
  width: 568px;
  color: #19193a;
  font-size: 44px;
  font-weight: 400;
  line-height: 56px;
  margin-bottom: 60px;
}
.app-section--feature-heading span {
  font-weight: 700;
}
.app-section--feature-info {
  width: 500px;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  border-radius: 4px;
}
.app-section--feature-info--blocks {
  padding: 16px 30px;
}
.app-section--feature-info--blocks-image {
  text-align: center;
  vertical-align: bottom;
  min-height: 85px;
  margin-bottom: 10px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.app-section--feature-info--blocks-heading {
  color: #302e2e;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}
.app-section--feature-info--blocks-label {
  width: 64px;
  height: 37px;
  opacity: 0.7;
  color: #000000;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
}

@media (max-width: 1200px) {
  .app-section--feature {
    top: 45px;
  }
}
@media (max-width: 991px) {
  .app-section-grid-col-features {
    padding-bottom: 35px;
  }
  .app-section--feature-heading {
    margin-bottom: 10px;
  }
}
.app-section--weare {
  position: absolute;
  left: 100px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 30px 10px;
  border-radius: 4px;
}
.app-section--weare-heading {
  width: 500px;
  color: #19193a;
  font-size: 44px;
  font-weight: 400;
  line-height: 56px;
  margin-bottom: 50px;
}
.app-section--weare-heading span {
  font-weight: 700;
}
.app-section--weare-details {
  width: 555px;
  color: #19193a;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 26px;
}
.app-section--weare-button {
  text-align: left;
  margin-top: 54px;
}
@media (max-width: 1200px) {
  .app-section-grid-col-weare {
    padding-bottom: 50px;
    padding-top: 30px;
  }
  .app-section--weare {
    margin-right: 100px;
    padding-bottom: 0;
  }
  .app-section--weare-details {
    width: 100%;
  }
}
@media (max-width: 991px) {
  .app-section--weare-heading {
    margin-bottom: 10px;
  }
}
@media (max-width: 767px) {
  .app-section-grid-col-features {
    padding-bottom: 15px;
  }
}

.app-section--services {
  position: absolute;
  left: 100px;
  border-radius: 4px;
  display: flex;
  min-height: 400px;
}

.app-section--services-heading {
  width: 461px;
  color: #000000;
  font-size: 64px;
  font-weight: 400;
  line-height: 72px;
  margin-top: 70px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 30px 10px;
}
.app-section--services-heading span {
  font-weight: 700;
}
.app-section--services-blocks {
  width: 380px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 4px;
  display: inline-table;
  padding: 10px;
}
.app-section--services-blocks.-first-block {
  margin-left: 19vw;
}
.app-section--services-blocks.-second-block {
  margin-top: 250px;
  margin-left: 30px;
}
.app-section--services-blocks.-third-block {
  margin-bottom: 50px;
  margin-left: 4.8vw;
}
.app-section--services-blocks.-fourth-block {
  margin-top: 200px;
  margin-left: 80px;
}
.app-section--services-blocks.-fifth-block {
  margin-top: 0px;
  margin-left: 80px;
}
.app-section--services-blocks--heading {
  color: #19193a;
  font-size: 32px;
  font-weight: 600;
  line-height: 37px;
  margin-bottom: 15px;
}
.app-section--services-blocks--details {
  color: #19193a;
  font-size: 15px;
  font-weight: 400;
}
@media (min-width: 1601px) {
  .app-section--services {
    min-height: 450px;
  }
  .app-section--services-blocks.-first-block {
    margin-left: 23vw;
  }
  .app-section--services-blocks.-second-block {
    margin-top: 200px;
    margin-left: 7vw;
  }
  .app-section--services-blocks.-third-block {
  }
  .app-section--services-blocks.-fourth-block {
    margin-left: 10vw;
  }
  .app-section--services-blocks.-fifth-block {
    margin-left: 9.5vw;
  }
}
@media (max-width: 1200px) {
  .app-section--services {
    position: static;
    flex-direction: column;
    padding: 0 100px;
    display: inline-block;
    min-height: 200px;
  }
  .app-section--services-heading {
    width: 100%;
    padding: 0;
    font-size: 44px;
    margin-top: -175px;
  }
  .app-section--services-blocks {
    width: calc(50% - 20px);
    background-color: #ffffff;
    border: 1px solid #eeeeee;
  }
  .app-section--services-blocks {
    margin: 20px 10px !important;
    float: left;
    padding: 20px;
    min-height: 150px;
    box-shadow: 0px 0px 10px #eeeeee;
  }
  .app-section--services-blocks--heading {
    color: #19193a;
    font-size: 22px;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 10px;
  }
}
@media (max-width: 991px) {
  .app-section--services-heading {
    font-size: 44px;
    line-height: 44px;
    background: transparent;
    margin: 50px 0px 25px;
  }
  .app-section--services-blocks {
    width: 100%;
    margin: 0 0 20px 0 !important;
  }
}
@media (max-width: 767px) {
  h2,
  h3,
  h4,
  p {
    width: 100% !important;
  }
  .app-section--home-heading {
    font-size: 35px;
    line-height: 40px;
    width: 320px !important;
    padding-top: 40px;
  }
  .app-section--home-logos {
    padding-top: 40px;
  }
}

.app-section--contact {
  position: absolute;
  left: 100px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 30px 10px;
  border-radius: 4px;
}

.app-section--contact-heading {
  width: 550px;
  color: #19193a;
  font-size: 44px;
  font-weight: 400;
  line-height: 56px;
  margin-bottom: 50px;
}
.app-section--contact-heading span {
  font-weight: 700;
}
.app-section--contact-form {
  display: flex;
}
.app-section--contact-form--left {
  padding-right: 22px;
}
.app-section--contact-form-group {
  margin-bottom: 17px;
}
.app-section--contact-form-group .form-control {
  border: 0px;
  padding: 10px 10px 10px 50px;
}
.app-section--contact-form-name {
  width: 241px;
  height: 50px;
  background: url(../img/contact-form-img/contact-name-form-bg.svg) no-repeat;
}
.app-section--contact-form-phone {
  width: 241px;
  height: 50px;
  background: url(../img/contact-form-img/contact-phone-form-bg.svg) no-repeat;
}
.app-section--contact-form-email {
  width: 241px;
  height: 50px;
  background: url(../img/contact-form-img/contact-email-form-bg.svg) no-repeat;
}
.app-section--contact-form-description {
  width: 276px;
  max-width: 276px;
  height: 184px;
  max-height: 184px;
  background: url(../img/contact-form-img/contact-textarea-form-bg.svg)
    no-repeat;
  padding: 10px 10px 10px 20px !important;
}
.app-section--contact-button {
  text-align: center;
}
@media (max-width: 600px) {
  .app-section--contact-form {
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .app-section-grid-col-home {
    padding-bottom: 30px;
    padding-top: 30px;
  }
}
@media (max-width: 767px) {
  .app-section--feature-heading,
  .app-section--weare-heading,
  .app-section--services-heading,
  .app-section--contact-heading {
    font-size: 24px;
    line-height: 32px;
  }
  .app-section--services-blocks {
    min-height: 50px !important;
  }
  .app-section--services {
    padding: 0 30px;
    position: static;
  }
  .app-section-grid-col-home {
    min-height: 400px;
    padding-bottom: 20px;
    padding-top: 0px;
    overflow: hidden;
  }
  .app-section-grid-image-home {
    width: 145%;
    margin-left: -124px;
    margin-top: -18px;
    max-width: 145%;
  }
  .app-section--feature {
    left: 30px;
    position: static;
    padding: 30px 30px 0;
  }
  .app-section--weare {
    left: 30px;
    position: static;
    padding: 0 30px;
    margin-right: 30px;
  }
  .app-section--contact {
    left: 30px;
    padding: 0 0 30px;
  }
  .app-section--services-blocks.-fifth-block {
    margin-bottom: 0px !important;
  }
  .app-section--feature-info {
    display: inline-block;
    background: transparent;
    width: 100%;
  }
  .app-section-grid-image-feature,
  .app-section-grid-image-weare,
  .app-section-grid-image-services {
    display: none;
  }
  .app-section--feature-info--blocks-label {
    width: 100%;
  }
  .app-section--feature-info--blocks {
    padding: 0px;
    width: 50%;
    float: left;
    padding-top: 20px;
  }
  .app-social-item {
    width: 24px;
    height: 24px;
    line-height: 24px;
  }
  .app-menu {
    display: none;
  }
  .app-section--services-blocks--heading {
    font-size: 18px;
    line-height: 20px;
  }
  .app-section--weare-button {
    text-align: left;
    margin-top: 25px;
    margin-bottom: 15px;
  }
  .app-section--contact-heading {
    margin-bottom: 20px;
  }
  .app-section--contact-button {
    text-align: left;
  }
  .app-section-grid-col-contact {
    padding-bottom: 20px;
  }
}
@media (max-width: 400px) {
  .app-btn-primary {
    width: 100%;
  }
}
/*Button*/
.btn {
  height: 54px;
  border-radius: 30px;
  padding: 15px 35px 15px 26px;
  border: 0px;
  height: 55px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
.btn img {
  margin-left: 8px;
}
.app-btn-primary {
  color: #ffffff;
  background-image: linear-gradient(
    to right,
    #0072f4,
    #0072f4,
    #0167db,
    #0167db
  );
  background-size: 300% 100%;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.app-btn-primary:hover {
  background: darken(#0072f4, 10%);
  background-position: 100% 0;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  box-shadow: 0 4px 15px 0 rgba(76, 141, 238, 0.75);
}
.app-btn-contact {
  background: transparent !important;
  padding: 0px;
}
